.subactive{
    background-color: #5bc0de;
}
.msg{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.msgborder{
    padding-top: 4px;
}
/* The Modal (background) */
.chatmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.chatmodal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 30%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.header1{
    width: 50%;
    float: left;
    
}
.header2{
    width: 50%;
    float: right;
}
.userborder{
    border: ridge #5bc0de;
}
.send{
    padding-top: 2px;
}
.chatmodal-header {
    padding: 2px 16px;
    background-color: #4fbfa8;
    color: white;
}

.chatmodal-body {padding: 2px 16px;}

.chatmodal-footer {
    padding: 2px 16px;
    background-color: #B12A26;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

